#products {
	@extend %page-spaced;
}


.products-list {
  display:grid;
  grid-template-columns: repeat(2, 1fr);
  align-items:start;
  grid-gap: 10px;
}


@media (min-width: $breakpoint-desktop) { 
  .products-list {
    grid-template-columns: repeat(3, 1fr);
  }
}
