#register {
  margin-top: 4em;

  
  & > .register-form {
    margin:0 auto;
    max-width: 500px;
    
    & > .register-header {
      font-size: 2rem;
      margin: 0 auto;
      display:block;
      text-align:center;
      margin: .21em 0;
    }
  }
}
