
// *****************
// COLOR VARIABLES
// *****************
$youngPurple:#303a52;
$youngBlue:#574f90;
$shamrock: #2CD4AE; //Shamrock Green used for text links and headers
$turquoise: #4FE3C0; //buttons and in gradient
$celadon: #99E09C; //older green used in gradient
$mineShaft: #303030; //black used in text headers
$coal: #727272; //lighter black shade for supporting text
$alabaster: #F9F9F9; //nuetral used in large blocks
$gray: #80848c; //used for lines and small accents
$softGreen: #49a84d;
$softPurple: #1b1b1b;
$softGray: #edecec;
$softBlack: #39415A;
$black: #181d24;
$softGreen: #bada55;
$softRed: salmon;


// *****************
// Font Color
// *****************

$headerGray: #262626;
$headerSoftGray: #474747;
$bodyGray: #919191;


// *****************s
// BREAKPOINTS
// *****************
$breakpoint-desktop: 1200px;
$breakpoint-laptop: 950px;
$breakpoint-tablet: 768px;
$breakpoint-mobile: 320px;


// *****************
// FONTS VARIANTS
// *****************
$font-medium: "Inter Medium", sans-serif ;
$font-regular: "Inter Regular", sans-serif ;
$font-bold: "Inter Bold", sans-serif ;
