.btn {
  padding: .7em .8em;
  font-size: .8rem;
  border:none;
  border-radius: 5px;
  text-align:center;
  border: 1px solid #bbb;
  outline:0;

  &-sm {
    padding: .4em .8em;
    font-size: .7rem;
  }
  &-lg {
    padding: .65em .8em;
    font-size: 1rem;

  }
  &-block {
    width:100%;

  }
  &-dark {
    background: $black;
    color:#fff;
    
  }
  &-dark:hover {
    background: #111;

  }
}
