.container {
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
}
body {
  //background-color: $softGray;
  background-color: #fff;
}


a {
  color: #111;
  text-decoration:none;
}
a:hover {
  color: #777;
}
