.content-header {
  display:flex;
  align-items:center;
  justify-content: space-between;

  & > p {
    font-family: $font-medium;
    color: $softBlack;
    font-size: 1.5rem;
  }
  & > .add-product-button {
  }
}
