

@media (min-width: $breakpoint-tablet) {
  .product-detail {
    display:flex;
    height:100vh;

    & .product-detail-images {
      flex:1;
    }
    & .product-detail-info {
      //margin-left: 2em;
      flex:1;
    }
  }

  .product-detail-sub-image {

  }

}


.product-detail-sub-images {
  margin-top: 1em;
  display:flex;
  justify-content:center;
}
.product-detail-sub-image {
  object-fit:cover;
  width: 70px;
  height:70px;
  margin: 0 .3em;

}
.product-detail-sub-image.sub-image-active,
.product-detail-sub-image:hover
{
  background-color: #fff;
  transition: .1s ease-in-out;
  opacity: .5;
}

.product-detail-title {
  font-size: 1.6rem;
  margin:.91em 0 .41em 0;
  font-family: $font-medium;
}
.product-detail-price {
  color: $softGreen;
  font-size: 1.5rem;
}

.product-detail-overview, 
.product-detail-description,
{
  margin-top: 1em;
  padding: .4em 0;
  height:auto;

  & span { padding: 1.5em 0; font-family: $font-bold; }
  & p { margin-top: .51em; text-align:left; font-family: $font-regular; color: $gray; }
}

.product-detail-cart-action {
  margin-top:1em;
  display:flex;

  & .product-detail-cart-quantity {
    font-size: 1.2rem;
    width: 20%;
    max-width: 80px;
    margin-right: .8em;
    //border: 1px solid $gray;
    padding: .20em .4em;
    display:flex;
    justify-content:space-around;
    align-items:center;

    & .quantity-operator {
      border:none;
      background:none;
      cursor: pointer;
    }
    & .quantity-operator:focus {
      outline:0;

    }

    & span {
      margin: 0 .3em;
    }
  }
}
