.navigator {
  margin-bottom: 1.2em;

  & a {
    font-size: .9rem;
    font-family: $font-medium;
  }

}

@media (min-width: $breakpoint-tablet) {
  .navigator {
    & a {
      font-size: 1.2rem;
    }
  }

}
