

.product-detail-sub-images {
  margin-top: 1em;
  display:flex;
  justify-content:center;

  & .product-detail-sub-image {
    object-fit:cover;
    width: 70px;
    height:70px;
    margin: 0 .3em;

    &.sub-image-active, &:hover {
      background-color: #fff;
      transition: .1s ease-in-out;
      opacity: .5;
    }
  }
}
.product-detail-title {
  font-size: 1.6rem;
  margin:.90em 0 .30em 0;
  font-family: $font-medium;
  color: $black;
}

.product-detail-brand {
  color: $gray;
  font-weight:500;
}
.product-detail-price {
  color: green;
  font-size: 1.5rem;
  margin-top: .5em;
}

.product-detail-description,
{
  color: $black;
  margin-top: .31em;
  padding: .4em 0;
  height:auto;

  & span { padding: 1.5em 0; color: $black; font-weight: $font-medium; }
  & p { margin-top: .51em; text-align:left; font-family: $font-regular; color: $gray; }
}

.product-detail-cart-action {
  margin-top:.51em;
  display:flex;
  justify-content:space-between;
  align-items:justify-start;

  & > p {
    font-size: 1.2rem;
    flex-basis: 40%;
  }
  & > button {
    flex-basis: 60%;
  }

}


@media (min-width: $breakpoint-tablet) {
  .product-detail-info {
    margin-top:0;
  }
  .product-detail {
    display:flex;
    height:100vh;

    & .product-detail-images {
      flex:1;
    }
    & .product-detail-info {
      //margin-left: 2em;
      flex:1;
    }
  }

  .product-detail-sub-image {

  }

}
