.category-header {
  font-family: $font-medium;
  font-size: 1rem;
  margin: .4em 0;

  &::before {
    content: "";
    display:block;
    width: 20px;
    border-top: 3px solid #111;
    margin-bottom: .5em;
  }
}


@media (min-width: $breakpoint-tablet) {
  .category-header {
    font-size: 1.5rem;
  }

}
