.product-card {
  margin-top: .51em;
  border-radius: 5px;
  overflow:hidden;
  background-color:#fff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

}

.product-card-img {
  @include fullScreenImage(100px, 120px);
}

.product-card-category {
  text-transform:uppercase;
  display:inline-block;
  margin-bottom: .8em;
  font-size: .4rem;
}

.product-card-detail {
  margin-left:auto;
  margin-right:auto;
  background-color:#fff;
  padding: 0.5em .6em;


  & .product-card-detail-title {
    font-size: .8rem;
    line-height: 1.19em;
    font-family:$font-medium;
    color: #141519;
    display:block;
  }
  & a:hover {
    text-decoration: underline;
  }

  & p {
    color: $mineShaft;

  }

}

.product-card-detail-pricing {
  display:block;
  margin-top: .2em;

  & .product-price {
    color: green;
    font-weight: bold;
    font-size: .8rem;
  }

  & .product-daily-cost {
    font-size: .7rem;
    color: $gray;

  }
}

.product-card-button {
  margin-top: 1.0em;
  font-size: .65rem;
}

@media (min-width: $breakpoint-tablet) { 
  .product-card-detail {
    
    & .product-card-detail-title {
      font-size: 1.3rem;
    }

  }

  .product-card-detail-pricing {
    margin-top: .5em;

    & .product-price {
      font-size: .9rem;
    }

    & .product-daily-cost {
      font-size: 1rem;
    }
  }

  .product-card-detail-pricing {

    & .product-price {
      font-size: 1.3rem;
    }

  }

  .product-card-button {
    font-size: 1rem;
  }

  .product-card-category {
    font-size:.7rem;
  }

  .product-card-img {
    @include fullScreenImage(200px, 120px);
  }
}
