.shopping-cart-body {
	margin-top: 1em;

	display: flex;
	flex-direction: column;

	&-checkout {
		margin-top: 1em;
		border: 1px solid $gray;
		padding-top: .8em;
		padding-bottom: .8em;

		& > * { 
			margin-top: .6em;
			// border: 1px solid blue;
		}

		&-header {}
		&-body { 

			& > div {
				display: flex;
				justify-content: space-between;
				margin: .9em 0;
			}


		}
		&-proceed { 
		}

	}

	&-list {

		&-item {

			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 0 .8em;

			&-image > img {
				width: 90px;
				height: 100px;
				object-fit: cover;
				flex: 1;
			}

			&-quantity { 
				display: flex;
				flex-direction: column-reverse;
				align-items:center;
				justify-content: space-between;
				min-height: 80px;
			 }

			&-info {
				flex: 1;
				margin-left: .8em;

				& > *:not(:first-child) { margin-top: .5em; }

				&-name {
					font-color: $headerSoftGray;
					font-size: 1rem;
					font-weight: bold;
					display: block;
				}
				&-brand { font-size: .7rem; }
				&-price { font-size: .9rem; font-weight: bold; }
				
			}

		}

	}

}

@media (min-width: $breakpoint-tablet) {
	.shopping-cart-body {
		flex-direction: row;
		justify-content: space-between;
		align-items:flex-start;

		&-list {
			flex: 1;
		}
		&-checkout {
			min-width: 350px;
			margin-left: 1em;
		}

	}
}
